@model Dominio.Classes.PacoteHospedagem

@{
    ViewBag.Title = "Checkin";

}

<h2>Checkin</h2>
@using (Html.BeginForm("AtualizarCliente", "Checkin"))
{
    @Html.AntiForgeryToken()
    <form class="col s12">

        <div class="row">
            <div class="input-field col s2">
                <select name="Filtro">
                    <option value="" disabled selected>Filtro</option>
                    <option value="1">CPF</option>
                    <option value="2">CNPJ</option>
                    <option value="3">Nome</option>
                    <option value="4">Telefone</option>
                </select>
                <label></label>

            </div>

            <div class="input-field col s7">
                <input id="Consulta" name="Consulta" type="text" onkeypress="javascript: mascara(this, cpf_mask);" maxlength="18" required>
                <label for="Consulta"><i class="material-icons">search</i></label>
            </div>
                
            <div class=" input-field col s3">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Salvar
                    <i class="material-icons">search</i>
                </button>

            </div>


        </div>
    </form>



}
@using (Html.BeginForm("AtualizarCliente", "Chekin"))
{

    <div class="row">
        <div class="inputfield col s12">
            <table class="striped">
                <tr>

                    <th>
                        Código
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Celular
                    </th>
                    <th>
                        Email
                    </th>

                    <th>
                        CEP
                    </th>
                    <th>
                        Selecionar
                    </th>
                    <th>
                        Opções
                    </th>
                    <th></th>
                </tr>
                @if (@ViewBag.Pessoas != null)
                {
                    ViewBag.PessoasAdicionadas = @ViewBag.Pessoas;
                }
                @if (@ViewBag.Pessoas != null)
                {

                    foreach (var item in ViewBag.PessoasAdicionadas)
                    {
                        <tr>

                            <td>
                                @item.idPessoa
                            </td>

                            <td>
                                @item.nome
                            </td>
                            <td>
                                @item.telefoneMovel
                            </td>
                            <td>
                                @item.emailPimario
                            </td>

                            <td>
                                @item.cep
                            </td>

                            <td>
                                <input type="checkbox" class="filledin" id="@item.idPessoa" />
                                <label for="@item.idPessoa"></label>
                            </td>
                            <td>
                                @Html.ActionLink("Atualizar", "Atualizar", new { id = item.idPessoa }) |
                                @Html.ActionLink("Detalhar", "Detalhar", new { id = item.idPessoa }) |
                                @Html.ActionLink("Excluir", "Excluir", new { id = item.idPessoa })


                            </td>
                        </tr>
                    }

                }


            </table>


        </div>
    </div>

}

<script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>