@model IEnumerable<Dominio.Classes.Pessoa>

@{
    ViewBag.Title = "Index";
}

<h4 class="center">Lista de Funcionários</h4>

<p>
    @Html.ActionLink("Contratar", "Cadastrar")
</p>
<table class="hoverable">
    <tr>

        <th>
            Código
        </th>
        <th>
            Nome
        </th>
        <th>
            Celular
        </th>
        <th>
            E-mail
        </th>
        <th>
            Cargo
        </th>
        <th>
            CEP
        </th>
        <th>
            Opções
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.idPessoa)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefoneMovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailPimario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cep)
            </td>

            <td>
                @Html.ActionLink("Atualizar", "Atualizar", new { id = item.idPessoa }) |
                @Html.ActionLink("Detalhar", "Detalhar", new { id = item.idPessoa }) |
                @Html.ActionLink("Demitir", "Excluir", new { id = item.idPessoa })


            </td>
        </tr>
    }

</table>

