@model Dominio.Classes.Pessoa

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>


@using (Html.BeginForm("Edit", "Funcionario"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h4>Pessoa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <form class="col s12">
            <div class="row">
                <div class="input-field col s6" style="display:none">

                    @Html.LabelFor(model => model.idPessoa, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.idPessoa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.idPessoa, "", new { @class = "text-danger" })




                </div>
                <div class="input-field col s6" style="display:none">
                    <label for="first_name">Cargo</label>

                    @Html.EditorFor(model => model.Cargo.descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.idCargo, "", new { @class = "text-danger" })

                </div>
                <div class="input-field col s6">

                    <select name="cargo">

                        @foreach (var i in @ViewBag.Cargos)
                        {
                            <option value="@i.idCargo" @(Model.idCargo == i.idCargo ? "selected=\"selected\"" : "")>
                                @i.descricao
                            </option>


                        }
                    </select>
                    <label>Cargo</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="first_name">Nome</label>

                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="first_name">CPF/CNPJ</label>

                    @Html.EditorFor(model => model.cpfCnpj, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cpfCnpj, "", new { @class = "text-danger" })

                </div>
                <div class="input-field col s6">
                    <label for="first_name">RG</label>

                    @Html.EditorFor(model => model.rg, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rg, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="first_name">Data Nascimento</label>
                    <br />
                    <input id="Nascimento" name="Nascimento" value="@Model.dataNascimento" type="date" class="datepicker">


                </div>
                <div class="input-field col s6">
                    <label for="first_name">Estado Civil</label>

                    @Html.EditorFor(model => model.estadoCivil, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.estadoCivil, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row">

                <div class="input-field col s6">
                    <label for="first_name">Telefone</label>

                    @Html.EditorFor(model => model.telefoneFixo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.telefoneFixo, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s6">

                    <label for="first_name">Celular</label>

                    @Html.EditorFor(model => model.telefoneMovel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.telefoneMovel, "", new { @class = "text-danger" })
                </div>


            </div>

            <div class="row">

                <label for="first_name">Email</label>

                @Html.EditorFor(model => model.emailPimario, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model.emailPimario, "", new { @class = "text-danger" })


            </div>

            <div class="row">
                <label for="first_name">Email Opcional</label>

                @Html.EditorFor(model => model.emailSecundario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.emailSecundario, "", new { @class = "text-danger" })


            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label for="first_name">Salário</label>

                    @Html.EditorFor(model => model.salario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.salario, "", new { @class = "text-danger" })


                </div>


            </div>
            <h4>Endereço</h4>
            <div class="row">
                <div class="input-field col s6">
                    <label for="first_name">Bairro</label>

                    @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bairro, "", new { @class = "text-danger" })



                </div>
                <div class="input-field col s6">

                    <label for="first_name">Cidade</label>

                    @Html.EditorFor(model => model.cidade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cidade, "", new { @class = "text-danger" })



                </div>


            </div>

            <div class="row">

                <label for="first_name">Rua/Av</label>
                @Html.EditorFor(model => model.rua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rua, "", new { @class = "text-danger" })



            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="first_name">Complemento</label>
                    @Html.EditorFor(model => model.complemento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.complemento, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s2">
                    <label for="first_name">Númeto</label>

                    @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })

                </div>
                <div class="input-field col s4">

                    <label for="first_name">CEP</label>

                    @Html.EditorFor(model => model.cep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cep, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row">




                <div class="input-field col s0" style="display:none">
                    <label for="first_name">Data Cadastro</label>

                    @Html.EditorFor(model => model.dataCadastro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dataCadastro, "", new { @class = "text-danger" })


                </div>

                <form action="#">
                    <p>
                        <div class="input-field col s2">
                            <input type="checkbox" class="filled-in" name="ativo" id="ativo" checked="checked" value="true" @(Model.ativo ? "checked=\"checked\"" : "") />
                            <label for="ativo">&nbsp;Ativo</label>
                        </div>
                        <div class="input-field col s2">
                            <input type="checkbox" class="filled-in" id="funcionario" name="funcionario" checked="checked" value="true" @(Model.isFuncionario ? "checked=\"checked\"" : "") />

                            <label for="Funcionario">&nbsp;Funcionario</label>

                        </div>
                    </p>
        </form>

       

    </div>


    <div class="row">

        <br>

        <button class="btn waves-effect waves-light" type="submit" name="action">
            Salvar

        </button>



        @Html.ActionLink("Back to List", "Index")

    </div>

        </form>

    </div>








}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
