@model IEnumerable<Dominio.Classes.Usuario>

@{
    ViewBag.Title = "Consultar Usuários";
}

<h4 class="center">Consultar Usuários</h4>
<hr />
<br>

<p>
    @Html.ActionLink("Cadastrar", "Cadastrar")
</p>
<table class="hoverable">
    <tr>
        <th>
            Código
        </th>
        <th>
            Funcionário
        </th>
        <th>
            Nome de Usuário
        </th>
        <th>
            Nível
        </th>
        <th>Opções</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivelAcesso)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.idUsuario }) |
                @Html.ActionLink("Detalhar", "Detalhar", new { id = item.idUsuario }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.idUsuario })
            </td>
        </tr>
    }

</table>
