@model Dominio.Classes.PacoteHospedagem

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>


@using (Html.BeginForm("Consultar", "Reserva"))
{
    @Html.AntiForgeryToken()
    <h4>Reserva</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form class="col s12">
        <div class="row">

            <div class="input-field col s4">
                @{var cpf = "";}
                @if(@ViewBag.dadosView != null)
                {
                    cpf = @ViewBag.dadosView[0];
                }
                <input id="cpf" value="@cpf" name="cpf" type="text" class="validate" onkeypress="javascript: mascara(this, cpf_mask); return isNumberKey(event)" maxlength="14" required>
                <label for="cpf">Cpf</label>
            </div>

        </div>
        <div class="row">

            <div class="input-field col s8">
                @{var nome = "";}
                @if (@ViewBag.dadosView != null)
                {
                    nome = @ViewBag.dadosView[1];
                }
                <input id="nome" value="@nome" name="nome" type="text" class="validate" required>
                <label for="nome">Nome</label>
            </div>

            <div class="input-field col s4">
                @{var telefone = "";}
                @if (@ViewBag.dadosView != null)
                {
                    telefone = @ViewBag.dadosView[2];
                }
                <input id="telefone" value="@telefone" name="telefone" type="text" class="validate" onkeypress="javascript: mascara(this, telefone_mask); return isNumberKey(event)" maxlength="14" required>
                <label for="telefone">Telefone</label>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="input-field col s2">
                <input id="dataInicio" name="dataInicio" type="text" class="validate" onkeypress="javascript: mascara(this, date_mask); return isNumberKey(event)" maxlength="10" required>
                <label for="dataInicio">Data Início</label>
            </div>

            <div class="input-field col s2">
                <input id="dataFim" name="dataFim" type="text" class="validate" onkeypress="javascript: mascara(this, date_mask); return isNumberKey(event)" maxlength="10" required>
                <label for="dataFim">Data Final</label>
            </div>
            <div class="input-field col s4">

                <select name="tipoQuarto" required>
                    <option value="" disabled selected>Selecione a opção</option>
                    @foreach (var i in @ViewBag.tipoQuarto)
                    {
                        <option value="@i.descricao">@i.descricao</option>
                    }


                </select>
                <label for="tipoQuarto">&nbsp;Tipo Quarto</label>
            </div>
            <div class="input-field col s1">
                <input id="pessoas" name="pessoas" type="text" class="validate" onkeypress="return isNumberKey(event)" maxlength="5" required>
                <label for="pessoas">Pessoas</label>
            </div>

            <div class="input-field col s1">
                <input id="quartos" name="quartos" type="text" class="validate" onkeypress="return isNumberKey(event)" maxlength="5">
                <label for="quartos">Quartos</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s10 grid-example">
                <input type="submit" value="Consultar" class="btn btn-default" />
            </div>
        </div>
        <hr>
    </form>
}
@using (Html.BeginForm("CadastrarReserva", "Reserva"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="input-field col s12">
            <table class="striped">
                <tr>

                    <th>
                        Período Disponível
                    </th>
                    <th>
                        Tipo Quarto
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Pessoas
                    </th>
                    <th>
                        Valor
                    </th>
                    <th>
                        Selecionar
                    </th>
                    <th></th>
                </tr>




                @if (@ViewBag.quartosLivres != null)
                {
                    foreach (var i in @ViewBag.quartosLivres)
                    {
                        <tr>

                            <td>
                                @if(@i.dataInicio != null)
                                {
                                    @i.dataInicio.ToShortDateString()
                                }
                                -    
                                @if(@i.dataFim != null)
                                { 
                                    @i.dataFim.ToShortDateString()
                                }
                            </td>
                            <td>
                                @i.descricao
                            </td>
                            <td>
                                @i.quantidade
                            </td>
                            <td>
                                @i.capacidade
                            </td>
                            <td>
                                @i.valor
                            </td>
                            <td>
                                <input type="checkbox" class="filled-in" id="@i.quantidade @i.idTipoQuarto @i.idQuarto" value="@i.quantidade @i.idTipoQuarto @i.idQuarto" name="checkQuartos" required />
                                <label for="@i.quantidade @i.idTipoQuarto @i.idQuarto"></label>
                            </td>
                        </tr>
                    }
                }

            </table>
            @if (@ViewBag.quartosLivres != null)
            {
                <div class="row">
                    <div class="input-field col s2">
                        <input id="dataInicio" value="@ViewBag.dataInicioFim[0].ToShortDateString()" name="dataInicio" type="text" class="validate" onkeypress="javascript: mascara(this, date_mask); return isNumberKey(event)" maxlength="10" required>
                        <label for="dataInicio">Data Início</label>
                    </div>

                    <div class="input-field col s2">
                        <input id="dataFim" value="@ViewBag.dataInicioFim[1].ToShortDateString()" name="dataFim" type="text" class="validate" onkeypress="javascript: mascara(this, date_mask); return isNumberKey(event)" maxlength="10" required>
                        <label for="dataFim">Data Final</label>
                    </div>
                    <div class="col s4 offset-s10 grid-example">
                        <input type="submit" value="Adicionar" class="btn btn-default" />
                    </div>
                </div>
            }
            
            <hr>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
<script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
