@model Dominio.Classes.PacoteHospedagem

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>


@using (Html.BeginForm("CadastrarReserva", "Reserva"))
{
    @Html.AntiForgeryToken()
    <h4>Reserva</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form class="col s12">
        <div class="row">

            <div class="input-field col s4">
                <input id="cpf" type="text" class="validate">
                <label for="cpf">Cpf/Cnpj</label>
            </div>

        </div>
        <div class="row">

            <div class="input-field col s8">
                <input id="nome" type="text" class="validate">
                <label for="nome">Nome</label>
            </div>

            <div class="input-field col s4">
                <input id="telefone" type="text" class="validate" onkeypress="javascript: mascara(this, telefone_mask); return isNumberKey(event)" maxlength="14">
                <label for="telefone">Telefone</label>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="input-field col s2">
                <input id="dataInicio" type="text" class="validate" onkeypress="javascript: mascara(this, date_mask); return isNumberKey(event)" maxlength="10">
                <label for="dataInicio">Data Início</label>
            </div>

            <div class="input-field col s2">
                <input id="dataFim" type="text" class="validate" onkeypress="javascript: mascara(this, date_mask); return isNumberKey(event)" maxlength="10">
                <label for="dataFim">Data Final</label>
            </div>
            <div class="input-field col s4">

                <select name="TipoQuarto">
                    <option value="" disabled selected>Selecione a opção</option>
                    @foreach (var i in @ViewBag.tipoQuarto)
                    {
                        <option value="@i.idTipoQuarto">@i.descricao</option>
                    }


                </select>
                <label for="TipoQuarto">&nbsp;Tipo Quarto</label>
            </div>
            <div class="input-field col s1">
                <input id="pessoas" type="text" class="validate" onkeypress="return isNumberKey(event)" maxlength="5">
                <label for="pessoas">Pessoas</label>
            </div>

            <div class="input-field col s1">
                <input id="quartos" type="text" class="validate" onkeypress="return isNumberKey(event)" maxlength="5">
                <label for="quartos">Quartos</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s10 grid-example">
                <input type="submit" value="Consultar" class="btn btn-default" />
            </div>
        </div>
    </form>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
<script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
