@model IEnumerable<Dominio.Classes_Especiais.QuartosLivresReserva>
<script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $(document).ready(function () {
        $('#quantidade').material_select();
    });
   
</script>

<table class="striped">
    <tr>

        <th>
            Período Disponível
        </th>
        <th>
            Tipo Quarto
        </th>
        <th>
            Pessoas
        </th>
        <th>
            Valor
        </th>
        <th>
            Quantidade
        </th>
        <th>
            Selecionar
        </th>
        <th></th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>

            <td>
                @if (@i.dataInicio != null)
                {
                    @i.dataInicio
                }
                -
                @if (@i.dataFim != null)
                {
                    @i.dataFim
                }
            </td>
            <td>
                @i.descricao
            </td>
            <td>
                @i.capacidade
            </td>
            <td>
                @i.valor
            </td>
            <td>
                <div class="input-field col s2">
                    <select id="quantidade" name="quantidade" required>
                        @for (var j = 1; j <= @i.quantidade; j++)
                        {
                            <option value="@i.idTipoQuarto @j">@j</option>
                        }


                    </select>
                </div>
            </td>
            <td>

                <input type="checkbox" class="filled-in" id="@i.idTipoQuarto @i.capacidade" value="@i.idTipoQuarto @i.capacidade" name="checkQuartos" />
                <label for="@i.idTipoQuarto @i.capacidade"></label>
            </td>

        </tr>
    }

</table>


<div class="row">
    <div class="input-field col s12">


        @{var dataInicio = "";}
        @if (@ViewBag.dataInicioFim != null)
        {
            dataInicio = @ViewBag.dataInicioFim[0].ToShortDateString();
        }

        <div class="input-field col s2">
            <input id="dataInicio" name="dataInicio" value="@dataInicio" type="text" class="validate" onkeypress="javascript: mascara(this, date_mask); return isNumberKey(event)" maxlength="10" required>
            <label for="dataInicio">Data Início</label>
        </div>
        @{var dataFim = "";}
        @if (@ViewBag.dataInicioFim != null)
        {
            dataFim = @ViewBag.dataInicioFim[1].ToShortDateString();
        }


        <div class="input-field col s2">
            <input id="dataFim" name="dataFim" value="@dataFim"  type="text" class="validate" onkeypress="javascript: mascara(this, date_mask); return isNumberKey(event)" maxlength="10" required>
            <label for="dataFim">Data Final</label>
        </div>

        <div class="col s4 offset-s10 grid-example">
            <input type="submit" value="Adicionar" class="btn btn-default" />
        </div>
    </div>
</div>


