@model Dominio.Classes.Quarto

@{
    ViewBag.Title = "Excluir";
}

<h2 class="center">Excluir Quarto</h2>
<hr />
<dl class="dl-horizontal">

    <form class="col 12">

        <div class="row">
            <div class="input-field col s4">
                <p class="flow-text">
                    Número: @Html.DisplayFor(model => model.idQuarto)
                </p>
            </div>
            <div class="input-field col s8">
                <p class="flow-text">
                    Descrição: @Html.DisplayFor(model => model.descricao)
                </p>
            </div>

        </div>

        <div class="row">
            <div class="input-field col s4">
                <p class="flow-text">
                    Capacidade: @Html.DisplayFor(model => model.capacidade)
                </p>
            </div>
            <div class="input-field col s8">
                <p class="flow-text">
                    Descrição: @Html.DisplayFor(model => model.idTipoQuarto)
                </p>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <p class="flow-text">
                    Observação: @Html.DisplayFor(model => model.observacao)
                </p>
            </div>
        </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>
        }

    </form>
