@model Dominio.Classes.Pessoa

@{
    ViewBag.Title = "Detalhar";
}




    <h4 class="center">Detalhar Funcionário</h4>
    <hr />
    <dl class="dl-horizontal">

        <form class="col s12">
            <div class="row">
                <div class="col s4">

                    <p class="flow-text">
                        Código: @Html.DisplayFor(model => model.idPessoa)
                    </p>
                </div>
                <div class="col s8">
                    <p class="flow-text">
                        Nome: @Html.DisplayFor(model => model.nome)
                    </p>
                </div>
                
            </div>
            <div class="row">
                <div class="col s4">

                    <p class="flow-text">
                        CPF: @Html.DisplayFor(model => model.cpfCnpj)
                    </p>
                </div>
                <div class="col s4">

                    <p class="flow-text">
                        RG: @Html.DisplayFor(model => model.rg)
                    </p>
                </div>
                <div class="col s4">

                    <p class="flow-text">
                        Sexo: @Html.DisplayFor(model => model.sexo)

                    </p>
                </div>
            </div>

            <div class="row">

                <div class="col s6">

                    <p class="flow-text">
                        Data Nascimento: @Model.dataNascimento.ToShortDateString()
                    </p>
                </div>


                <div class="col s6">
                    <p class="flow-text">
                        Estado Civil: @Html.DisplayFor(model => model.estadoCivil)
                    </p>
                </div>



            </div>






            <div class="row">

                <div class="col s6">

                    <p class="flow-text">
                        Telefone: @Html.DisplayFor(model => model.telefoneFixo)
                    </p>
                </div>
                <div class="col s6">

                    <p class="flow-text">
                        Celular: @Html.DisplayFor(model => model.telefoneMovel)
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col s6">
                    <p class="flow-text">
                        Email: @Html.DisplayFor(model => model.emailPimario)
                    </p>
                </div>
                <div class="col s6">
                    <p class="flow-text">
                        Cargo: @Html.DisplayFor(model => model.Cargo.descricao)
                    </p>
                </div>
            </div>

            <div class="row">

                <div class="col s6">
                    <p class="flow-text">
                        Salário: @Html.DisplayFor(model => model.salario)
                    </p>
                </div>


            </div>
            <hr />
            <div class="row">
                <div class="col s12">
                    <p class="flow-text">
                        Rua: @Html.DisplayFor(model => model.rua)
                    </p>
                </div>

            </div>
            <div class="row">

                <div class="col s6">
                    <p class="flow-text">
                        Complemento: @Html.DisplayFor(model => model.complemento)
                    </p>
                </div>
                <div class="col s3">
                    <p class="flow-text">
                        Nº: @Html.DisplayFor(model => model.numero)
                    </p>
                </div>

                <div class="col s3">
                    <p class="flow-text">
                        CEP: @Html.DisplayFor(model => model.cep)
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col s6">
                    <p class="flow-text">
                        Bairro: @Html.DisplayFor(model => model.bairro)
                    </p>
                </div>
                <div class="col s3">
                    <p class="flow-text">
                        Cidade: @Html.DisplayFor(model => model.cidade)
                    </p>
                </div>

                <div class="col s3">
                    <p class="flow-text">
                        Estado: @Html.DisplayFor(model => model.estado)
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <p class="flow-text">
                        Cadastro: @Html.DisplayFor(model => model.dataCadastro)
                    </p>
                </div>
                <div class="col s3">
                    <p class="flow-text">
                        Ativo: @(Model.ativo ? "Sim" : "Não")
                    </p>
                </div>
                <div class="col s3">
                    <p class="flow-text">
                        Funcionario: @(Model.isFuncionario ? "Sim" : "Não")
                    </p>
                </div>
            </div>
            <div class="row">
                @Html.ActionLink("Atualizar", "Atualizar", new { id = Model.idPessoa }) |
                @Html.ActionLink("Voltar", "Index")

            </div>
        </form>