@model IEnumerable<Dominio.Classes.Pessoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            Cargo
        </th>
        <th>
            Nome
        </th>
        

        <th>
         Celular
        </th>
        <th>
            E-mail
        </th>
        <th>
            CEP
        </th>
        <th>
            Opções
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefoneMovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailPimario)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.cep)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
