@model Model.Usuario

@{
    ViewBag.Title = "detalhe";
}

<h2>detalhe</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "editar", "Usuario", new { nome = Model.nome, sexo = Model.sexo, email = Model.email, senha = Model.senha }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
